In [1]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
appliances_energy_prediction = fetch_ucirepo(id=374) 
  
# data (as pandas dataframes) 
X = appliances_energy_prediction.data.features 
y = appliances_energy_prediction.data.targets 
  
# metadata 
print(appliances_energy_prediction.metadata) 
  
# variable information 
print(appliances_energy_prediction.variables)

{'uci_id': 374, 'name': 'Appliances Energy Prediction', 'repository_url': 'https://archive.ics.uci.edu/dataset/374/appliances+energy+prediction', 'data_url': 'https://archive.ics.uci.edu/static/public/374/data.csv', 'abstract': 'Experimental data used to create regression models of appliances energy use in a low energy building.', 'area': 'Computer Science', 'tasks': ['Regression'], 'characteristics': ['Multivariate', 'Time-Series'], 'num_instances': 19735, 'num_features': 28, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['Appliances'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2017, 'last_updated': 'Fri Mar 29 2024', 'dataset_doi': '10.24432/C5VC8G', 'creators': ['Luis Candanedo'], 'intro_paper': {'title': 'Data driven prediction models of energy use of appliances in a low-energy house', 'authors': 'L. Candanedo, V. Feldheim, Dominique Deramaix', 'published_in': 'Energy and Buildings, Volume 140', 'year': 2017, 'url': 'https://www.semanticscholar.org/paper/28025ec6f4d5ab121bd91b36c754c0f0831d2433', 'doi': '10.1016/j.enbuild.2017.01.083'}, 'additional_info': {'summary': 'The data set is at 10 min for about 4.5 months. The house temperature and humidity conditions were monitored with a ZigBee wireless sensor network. Each wireless node transmitted the temperature and humidity conditions around 3.3 min. Then, the wireless data was averaged for 10 minutes periods. The energy data was logged every 10 minutes with m-bus energy meters. Weather from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis (rp5.ru), and merged together with the experimental data sets using the date and time column. Two random variables have been included in the data set for testing the regression models and to filter out non predictive attributes (parameters).\r\n\r\nFor more information about the house, data collection, R scripts and figures, please refer to the paper and to the following github repository:\r\n\r\nhttps://github.com/LuisM78/Appliances-energy-prediction-data\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'date time year-month-day hour:minute:second \r\nAppliances, energy use in Wh\r\nlights, energy use of light fixtures in the house in Wh\r\nT1, Temperature in kitchen area, in Celsius\r\nRH_1, Humidity in kitchen area, in %\r\nT2, Temperature in living room area, in Celsius\r\nRH_2, Humidity in living room area, in %\r\nT3, Temperature in laundry room area\r\nRH_3, Humidity in laundry room area, in %\r\nT4, Temperature in office room, in Celsius\r\nRH_4, Humidity in office room, in %\r\nT5, Temperature in bathroom, in Celsius\r\nRH_5, Humidity in bathroom, in %\r\nT6, Temperature outside the building (north side), in Celsius\r\nRH_6, Humidity outside the building (north side), in %\r\nT7, Temperature in ironing room , in Celsius\r\nRH_7, Humidity in ironing room, in %\r\nT8, Temperature in teenager room 2, in Celsius\r\nRH_8, Humidity in teenager room 2, in %\r\nT9, Temperature in parents room, in Celsius\r\nRH_9, Humidity in parents room, in %\r\nTo, Temperature outside (from Chievres weather station), in Celsius\r\nPressure (from Chievres weather station), in mm Hg\r\nRH_out, Humidity outside (from Chievres weather station), in %\r\nWind speed (from Chievres weather station), in m/s\r\nVisibility (from Chievres weather station), in km\r\nTdewpoint (from Chievres weather station), Â°C\r\nrv1, Random variable 1, nondimensional\r\nrv2, Random variable 2, nondimensional\r\n\r\nWhere indicated, hourly data (then interpolated) from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis, rp5.ru. Permission was obtained from Reliable Prognosis for the distribution of the 4.5 months of weather data.\r\n', 'citation': None}}
           name     role        type demographic description  units  \
0          date  Feature        Date        None        None   None
1    Appliances   Target     Integer        None        None     Wh
2        lights  Feature     Integer        None        None     Wh
3            T1  Feature  Continuous        None        None      C
4          RH_1  Feature  Continuous        None        None      %
5            T2  Feature  Continuous        None        None      C
6          RH_2  Feature  Continuous        None        None      %
7            T3  Feature  Continuous        None        None      C
8          RH_3  Feature  Continuous        None        None      %
9            T4  Feature  Continuous        None        None      C
10         RH_4  Feature  Continuous        None        None      %
11           T5  Feature  Continuous        None        None      C
12         RH_5  Feature  Continuous        None        None      %
13           T6  Feature  Continuous        None        None      C
14         RH_6  Feature  Continuous        None        None      %
15           T7  Feature  Continuous        None        None      C
16         RH_7  Feature  Continuous        None        None      %
17           T8  Feature  Continuous        None        None      C
18         RH_8  Feature  Continuous        None        None      %
19           T9  Feature  Continuous        None        None      C
20         RH_9  Feature  Continuous        None        None      %
21        T_out  Feature  Continuous        None        None      C
22  Press_mm_hg  Feature  Continuous        None        None  mm Hg
23       RH_out  Feature  Continuous        None        None      %
24    Windspeed  Feature  Continuous        None        None    m/s
25   Visibility  Feature  Continuous        None        None     km
26    Tdewpoint  Feature  Continuous        None        None      C
27          rv1  Feature  Continuous        None        None   None
28          rv2  Feature  Continuous        None        None   None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21             no
22             no
23             no
24             no
25             no
26             no
27             no
28             no

In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.preprocessing import StandardScaler

In [4]:
df=X

In [5]:
df.head()

,date,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-1117:00:00,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-1117:10:00,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-1117:20:00,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-1117:30:00,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,2016-01-1117:40:00,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [7]:
df.drop(columns=['date'], inplace=True)

C:\Users\pooja\AppData\Local\Temp\ipykernel_20888\1408783174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['date'], inplace=True)

In [8]:
#Scale the datafirst
scaler=StandardScaler()
df=scaler.fit_transform(df)

In [9]:
#Apply PCA to df

num_components=5
pca=PCA(n_components=num_components)
df=pca.fit_transform(df)

In [11]:
df=pd.DataFrame(data=df,columns=[i for i in range(num_components)])

In [12]:
df.head()

          0         1         2         3         4
0 -2.913949 -4.689526  1.431570  1.194512  2.472082
1 -2.932551 -4.618418  0.905247  1.226547  2.496514
2 -2.972968 -4.533169 -0.070195  1.353061  2.526499
3 -3.064495 -4.511911 -1.679798  1.647074  3.504469
4 -3.043124 -4.487672  1.683986  0.910640  3.493437

In [13]:
#Apply LDA to df

LDA_df=X
LDA_target=y

In [14]:
LDA_df.head()

,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,45.410390,45.410390
4,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [15]:
LDA_target.head()

   Appliances
0          60
1          60
2          50
3          50
4          60

In [19]:
lda=LDA()
LDA_vals=lda.fit_transform(LDA_df,LDA_target)

c:\Users\pooja\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [20]:
lda_df_final = pd.DataFrame(data=LDA_vals, columns=[i for i in range(LDA_vals.shape[1])])

In [21]:
lda_df_final.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.235342,-1.263493,0.740458,-0.125060,3.510818,-0.926338,1.223482,0.221112,-0.616689,0.039779,...,-1.560964,-0.655874,1.745316,1.158933,-0.993661,0.843365,-2.048495,-0.195406,2.404614,1.026942
1,0.911479,-1.040466,0.614535,-0.478000,3.082403,-1.275659,0.894311,0.158205,-0.637519,-0.117088,...,-1.852841,-0.314746,1.382088,1.191400,-1.006182,0.951408,-2.350183,-0.219367,2.220292,0.784096
2,0.795009,-1.017329,0.536744,-0.439224,2.790533,-1.551516,0.870657,0.099186,-0.824254,-0.266370,...,-2.043057,-0.307602,1.114680,1.161471,-0.842950,1.152692,-2.638937,-0.362778,1.835202,0.627153
3,1.221283,-1.010312,0.302103,-0.760811,3.384259,-2.231086,1.172721,-0.039190,-0.818767,-0.709856,...,-2.541294,0.000118,0.723614,1.002697,-0.426021,1.771592,-3.277475,-0.607158,1.514878,0.578219
4,1.303452,-1.127550,0.378559,-0.732103,3.835314,-2.110323,1.275668,0.233333,-0.339428,-0.425616,...,-2.192088,-0.163030,1.291995,0.547965,-1.477619,1.560087,-2.434423,-0.158218,1.435119,0.782723